*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    width: 100%;
    background: gray;
    position: fixed;
    z-index: 1;
}

.menu{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: .5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .containe-menu .logo .btn-menu{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}
